@media (max-width: 320px) {

  body {
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #222;
    width: 100%;
    padding: 0;
    margin: 0;
  }


  #wrapper {
     border: 0;
     max-width: 320px;
     margin: 0;
     padding: 0.5em;
   }

   nav ul {
  width: 100%;
  padding: 0.5em;
  }

  nav ul li {
    display: inline-block;
    margin-right: 0.25em;
    padding-right: 0.25em;
    border-right: 0;
  }

  main {
    padding: 0;
    margin: 0;
  }

  section {
  margin: auto;
  max-width: 100%;
  }

  h2 {
    font-size: 1.8em;
  }

  #resume h2 {
    font-size: 1.8em;
  }

  ul.stats li {
    display: block;
    font-size: 2em;
    margin-left: 1em;
    color: #f47321;
    text-align: center;
  }

  #resume ul li {
    margin-left: 0;
  }

  p.hover {
    display: none;
  }

  blockquote {
    margin: 0;
  }

  blockquote p:first-child {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
  }

  iframe {
  max-width: 99%;
  }

  section img {
    max-width: 80%;
    border: 1px solid #222;
    padding: 1em;
  }

  #infographic img {
    max-width: 99%;
    padding: 0.1em;
  }

  img#multitask {
    top: 3em;
  }

}
